.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .setupRow {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: baseline;
      margin-top: 20px;
    }
  }
}