.setupRow {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
  margin-top: 20px;

  .text {
    color: var(--dark-color);
    font-size: 0.7rem;
  }

  .secondaryBtn {
    font-size: 0.7rem;
    font-weight: 600;
    border: none;
    color: var(--dark-color);
    background-color: transparent;
    text-decoration: underline;
    padding: 0;

    &:hover, &:focus, &:active, &:visited {
      background-color: transparent;
      color: var(--light-color) !important;
      padding: 0;
    }

  }

}